<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid 19 Info Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDst0N8AWu46dF6XWzZHxrEs82eBBQR4_k"></script>
    <script src="https://code.jscharting.com/latest/jscharting.js"></script>

    <!--PLEASE NOTE: As of June 22 2016, Google Maps require an API key.
    * GET YOUR API KEY FROM ... https://developers.google.com/maps/documentation/javascript/get-api-key
    * ONCE YOU GET THE KEY, REPLACE 'js?sensor=false' IN THE ABOVE URL WITH "js?key=YOUR_NEW_API_KEY".-->

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-light p-5 rounded-lg m-3">
                <h1 class="display-4" th:text="${totalReportedCases}"></h1>
                <p class="lead">Total cases reported as of today</p>
                <p>
                    <span>New cases since previous day:</span>
                    <span th:text="${totalNewCases}"></span>
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

<table class="table">
    <tr>
        <th>Country</th>
        <th>Province</th>
        <th>City</th>
        <th>Total stats</th>
        <th>New cases</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.region.name}"></td>
        <td th:text="${locationStat.region.province}"></td>
        <td th:text="${locationStat.city==null} ? '':${locationStat.city.name}"></td>
        <td th:text="${locationStat.totalConfirmed}">0</td>
        <td th:text="${locationStat.confirmed}">0</td>
    </tr>
</table>
</div>
        <div class="col">
            <div id="mapContainer" style="width:750px;height:350px;"></div>
        </div>
    </div>




</div>
<script>
    // LOCATION IN LATITUDE AND LONGITUDE.
    var center = new google.maps.LatLng(19.0822507, 72.8812041);

    function initialize() {
        // MAP ATTRIBUTES.
        var mapAttr = {
            center: center,
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };

        // THE MAP TO DISPLAY.
        var map = new google.maps.Map(document.getElementById("mapContainer"), mapAttr);
var max_stat=[[${max_stat}]];
var s="[[${json}]]".replaceAll("&quot;","\"");
         //console.log(s);
        var obj=JSON.parse(s);

       for (var i = 0; i < obj.length; i++){
  var obj2 = obj[i];
  var lat=0;
  var long=0;
  var ltc=0;
  for (var key in obj2){
  if(key=="lat")
    lat=obj2[key];
    if(key=="long")
    long=obj2[key];
   if(key=="ltc")
    ltc=obj2[key];
  }
  if(lat!=0){
  //console.log(lat);
  //console.log(long);
  //console.log(ltc);
  //console.log(max_stat);
  //console.log(750000*ltc/max_stat);

  var dot = new google.maps.LatLng(lat, long);
    var circle = new google.maps.Circle({
            center: dot,
            map: map,
            radius: 1000000*ltc/max_stat,          // IN METERS.
            fillColor: '#FF6600',
            fillOpacity: 0.3,
            strokeColor: "#FFF",
            strokeWeight: 0         // DON'T SHOW CIRCLE BORDER.
        });
  }
 // break;
}
infoWindow = new google.maps.InfoWindow();
  const locationButton = document.createElement("button");
  locationButton.textContent = "Pan to Current Location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          infoWindow.setPosition(pos);
          infoWindow.setContent("Location found.");
          infoWindow.open(map);
          map.setCenter(pos);
        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });
    }

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

</body>

</html>